.work {
  width: 100%;
  height: max-content;
  margin-top: 10%;

  .top {
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2%;

    .left {
      width: 68%;
      background-color: white;
      height: 400px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 8%;
      padding-right: 8%;

      .title {
        font-size: 40px;
        font-weight: 600;
      }

      .desc {
        font-size: 24px;
      }
    }

    .right {
      width: 30%;
      background-color: #070708;
      color: white;
      height: 400px;
      border-radius: 20px;
      padding-left: 1%;
      padding-right: 1%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 40px;
        font-weight: 600;
      }

      .desc {
        font-size: 24px;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2%;

    .right {
      width: 68%;
      background-color: white;
      height: 400px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 8%;
      padding-right: 8%;

      .title {
        font-size: 40px;
        font-weight: 600;
      }

      .desc {
        font-size: 24px;
      }
    }

    .left {
      width: 30%;
      background-color: #070708;
      color: white;
      height: 400px;
      border-radius: 20px;
      padding-left: 1%;
      padding-right: 1%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 40px;
        font-weight: 600;
      }

      .desc {
        font-size: 24px;
      }
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .work {
    .top {
      .left {
        .title {
          font-size: 32px;
          font-weight: 600;
        }

        .desc {
          font-size: 22px;
        }
      }

      .right {
        .title {
          font-size: 32px;
          font-weight: 600;
        }

        .desc {
          font-size: 22px;
        }
      }
    }

    .bottom {
      .right {
        .title {
          font-size: 32px;
          font-weight: 600;
        }

        .desc {
          font-size: 22px;
        }
      }

      .left {
        .title {
          font-size: 32px;
          font-weight: 600;
        }

        .desc {
          font-size: 22px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 442px) {
  .work {
    .top {
      flex-direction: column;
      .left {
        width: 100%;
        .title {
          font-size: 32px;
          font-weight: 600;
        }

        .desc {
          font-size: 22px;
        }
      }

      .right {
        margin-top: 2%;
        width: 100%;
        text-align: left;
        padding-left: 8%;
        padding-right: 8%;
        .title {
          font-size: 32px;
          font-weight: 600;
        }

        .desc {
          font-size: 22px;
        }
      }
    }

    .bottom {
      flex-direction: column-reverse;
      .right {
        width: 100%;
        .title {
          font-size: 32px;
          font-weight: 600;
        }

        .desc {
          font-size: 22px;
        }
      }

      .left {
        margin-top: 2%;
        width: 100%;
        text-align: left;
        padding-left: 8%;
        padding-right: 8%;
        .title {
          font-size: 32px;
          font-weight: 600;
        }

        .desc {
          font-size: 22px;
        }
      }
    }
  }
}

@media only screen and (max-width: 441px) {
  .work {
    .top {
      flex-direction: column;
      .left {
        height: 300px;
        width: 100%;
        .title {
          font-size: 24px;
          font-weight: 600;
        }

        .desc {
          font-size: 18px;
        }
      }

      .right {
        height: 300px;
        margin-top: 4%;
        margin-bottom: 2%;
        width: 100%;
        text-align: left;
        padding-left: 8%;
        padding-right: 8%;
        .title {
          font-size: 24px;
          font-weight: 600;
        }

        .desc {
          font-size: 18px;
        }
      }
    }

    .bottom {
      flex-direction: column-reverse;
      .right {
        height: 300px;
        width: 100%;
        .title {
          font-size: 24px;
          font-weight: 600;
        }

        .desc {
          font-size: 18px;
        }
      }

      .left {
        height: 300px;
        margin-top: 4%;
        width: 100%;
        text-align: left;
        padding-left: 8%;
        padding-right: 8%;
        .title {
          font-size: 24px;
          font-weight: 600;
        }

        .desc {
          font-size: 18px;
        }
      }
    }
  }
}
